*{
	margin: 0px;
	padding: 0px;
}
#prior_nav{
		background-color: #272c3f;
		height: 29px;
		width: 100%;
		font-size:12.2px;
		color: #e1e3e8;
		font-family: 'regular', sans-serif;
		z-index: -1;
	}
	#prior_nav ul{
		margin-left:116px;
	}
#prior_nav ul li{

			display:inline-block;
			margin-left: 20px;
			padding-top: 2.5px;


}
#prior_nav ul li a{
    text-decoration:none; color : #e1e3e8;

}
.navbar{
	margin: 0px!important;
	padding: 0px!important;
}
.ot-hedn-dropdown:hover{
    color:white; 
     text-decoration:none; 
     cursor:pointer; 
}

#t{
	opacity: 0.01;
}
#prior_nav #aaa{
	margin-left: 2%;
	padding-right:10px;
	 background-color:white; color: red;
	 height:150px; width:100px; border-radius:20px;
}
#prior_nav #aaa2{

font-size:11px;color:#fff;background-color:#80c641;padding: 4px 7px; border-radius: 10px;
margin-bottom: 1%;margin-left: 0;

}
/*<div class="ot-dhead-select-style">
                            <select name="P_lang" id="P_lang" onchange="lang_change(this.value)">
                                <option value="1" selected="selected">English</option>
                                <option value="2">हिन्दी </option>
                                <option value="3">मराठी </option>
                            </sc velect>
                        </div>*/

.androidicon{
margin-left: 15px;
height: 14px;
width: 14px;
vertical-align: middle;
opacity: 0.7;
}

/*----main nav -----*/

#abc{
	height: 10px;
	background-color: #003489;
}
.aaa{
	height: 700px;
	width: 100%;
	background-color: yellow;
	
}



.bg-company-red {
    background-color: darkred;
}
/* --------------------------*/
/* nav */
.navbar{
	background-color: #023D6B!important;
	height: 58px;
	text-align: center!important;
	top: 0px;
	 
}

.navbar .navbar-nav{
	margin: 0 auto;

}
.navbar-nav{
	margin:0 auto;
	margin-left: 4%;
}
.navbar .nav-item{
	margin-left: 26px;
	padding-top: 0px;
}
.navbar .nav-item a{
	
	color: white!important;
	font-size: 14px;
	font-family: 'robotoregular', sans-serif;
	font-weight: 550;
}

.navbar .nav-item a:hover{
	background-color: #3c5592!important;
}
.ot-dhead-select-style {
    padding: 0;
    margin: 0;
    margin-top: 0px;
    height: auto;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    border: 0.5px solid #fff;
    background: #272c3f url(local-cdn/external-cdn/images/jan2016/header/select.png) no-repeat 90% 50%;
    height: 14px;
    background-color: #272C3F;
}
.langselector{
	margin-left: 140px !important;
	margin-top: inherit;
	background-color:#272c3f; /*#272c3f;*/
}
.ot-dhead-select-style select{
background-color:#272C3F;
color: white;
}



/*--------------*/
.ot-hedn-login{margin-left:10px;transition:.5s ease-in;
	background:#f7982a;color:#fff;
	border:none;
	font-family:'Medium';
	margin-top:14px;
	padding:6px 25px;
	border-radius:3px
	}
	.ot-hedn-login:hover,.ot-hedn-login:focus{color:#fff;opacity:.75}

	.navbar .btn{
			float: right;
			margin: 7px 0px 0px 290px;
			padding: 4px 24px 6px 24px;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 900;

	}
	.navbar img{
		margin-right:110px;
		padding: 0px;
		padding-top: 0px;
		
	}
	.dropdown-menu{
		width: 100%!important;
	}
body{
	background-color: #f7f8f9;
}

/* end nav */
/*__________________________`_______________________________________________________*/
/* footer */

		#abc{
			background-color:red;
			height: 200px;
		}
		.botomfoter{
			height: 600px;
			font-size: 14px; color: #86a6c4;
			font-family: 'Roboto', sans-serif;
			text-transform: capitalize;
			text-align: center;
		}
		.phead{
			font-size: 19px; color: white;
			text-transform: capitalize;

		}
		.botomfoter a{
			color:#86a6c4;
		}
		.footerdivimg{
			text-align: center!important;
		}

/* --------------------------------------------------------------------------------*/
/* accordition button */
/*
.colapsblility {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}



.colapsblility:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.contnt {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    background-color: #f1f1f1;
}
*/
/* end of collapsiable nav ...........................................................*/



/* test box */
.nesteddiv{
	padding:12.5px 0 0 10px;
}
.nesteddiv button{
	height: 34px;
	width: 150px;
	background-color: #ffffff;
	border-radius: 4px;
	font-family: 'regular', sans-serif;
	font-size: 12.5px;
	color: #8c8c8c;
	border-color: #bfc3cc;
	margin-left: 6px;

}

.nesteddiv button:hover{
	background-color: orange;
	color: white;
	}

.nesteddiv h4{
	font-family: 'bold', sans-serif;
	font-size: 24.5px;
	font-weight: 0px;
	text-align: left;
	margin-left: 10px;
	margin-top: 26px;
	letter-spacing: -1px;	
}
.nestedbox{
	background-color: #ffffff;
	padding-top:0px;
	padding-left: 1.4%;
	font-family: 'regular', sans-serif;
	font-size: 12.5px;
	color: #8c8c8c;
}



/* end of test box */


/*---------------------------------------------------------------------------------------*/
/* tab css*/


/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    position: absolute;
    width: 94%;


}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    transition: 0.3s;
    font-size: 17px;
    margin-left: 2%;
    text-transform: uppercase;
    font-family: 'Regular', sans-serif;
    letter-spacing: -0.5px;
    font-size: 15px;
    color: #24272c;
    font-weight: 540;
   /* color: #229eeb; */
}
.tab .left-space{
	margin-left: 5%;
}
.tab .toglericon{
	float: right;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color:#229eeb;
    border-bottom: 4px solid #3ea0eb;
}

.tabcontent .Examinfo{
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #d5d5d5;
	border-radius: 7px;
	padding-top: 15px;
	padding-left: 13px;
}



/* Create an active/current tablink class */


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
    width: 100%;
}

.tabcontent .Examinfo > div{
	display: inline-block;
	margin-right: 10%;


}
.tabcontent .Examinfo  button{
	padding: 7px 50px;
	background-color: #3ea0eb;
	font-family: 'Medium';
	font-size: 14px;
	color: white;
	border-color: transparent;
	border-radius: 3px;
}
.tabcontent .Examinfo  button:hover{
	background-color: #1a91ed;
	cursor: pointer;
}

.tabcontent .Examinfo h1{
	
	color: #333;
        font-family: 'Regular', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

}
.tabcontent .Examinfo a:hover{
	background-color: red;
	cursor: pointer;
}



/*end of tab CSS*/





 
